<!DOCTYPE html>
{% extends 'theme.html' %}
{% load static %}

{% block title %}
Project List
{% endblock title %}


{% block content %}
  <div class="projectdiv">
    {% for project in projects.projects %}
        <div class="project_list_view">
            <a href="{% url 'project-detail' project.id %}">
              <img src = "{% static '/images/folder.png' %}" sizes = "64x64">
            </a>
            <a href="{% url 'project-detail' project.id %}">{{ project.name }}</a>
        </div>
    {% empty %}
      <h3>No projects available.</h3>
    {% endfor %}
  </div>
  <a href="Projects/create">Create New Project</a>
{% endblock content %}