{% extends 'theme.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<h1 class="text-primary">Confirm Deletion</h1>
<h2>Warming, you are about to delete a project!</h2>
<p>Project Name: <b>"{{ project.name }}"</b></p>
<p>Description: <b>{{ project.description }}</b></p>
<h4>Are you sure about this?</h4>
<p><span class="popup-trigger" data-popup-id="popup1">Task 1</span></p>
<button class="big-delete-button" type="submit" name="delete" value="yes">Yes, delete</button>
<form method="post">
  {% csrf_token %}
  <h4>Are you sure about this?</h4>
  <button class="big-delete-button" type="submit" name="delete" value="yes">Yes, delete</button>
</form>
<a href="/Project">Go Back to Projects</a>

<div class="popup" id="popup1">
  <div class="popup-content">
    <ul>
      <li><p>Assigned To: <b>"{name}"</b></p></li>
      <li><p>Task: <b>Content Planning and Creation</b></p></li>
      <li>
        <p>Details: Develop a content strategy that outlines the type of coding-related content you want to feature on your homepage. This could include coding tutorials, articles, videos, and project showcases. Create high-quality and engaging content that caters to your target audience's interests and skill levels. Organize your content into categories or sections for easy navigation and accessibility.</p>
      </li>
      <li>
        <div class="container">
          <div>
          </div>
          <h4>Due Date: 8/18/2015</h4>
          <button class="close-popup">Close</button>
        </div>
      </li>
    </ul>   
  </div>
</div>

<script>
  const triggers = document.querySelectorAll('.popup-trigger');
  const popups = document.querySelectorAll('.popup');
  const closeButtons = document.querySelectorAll('.close-popup');

  // Function to show a specific popup by ID
  function showPopup(popupId) {
      const popup = document.getElementById(popupId);
      if (popup) {
          popup.style.display = 'block';
      }
  }

  // Function to hide a specific popup by ID
  function hidePopup(popupId) {
      const popup = document.getElementById(popupId);
      if (popup) {
          popup.style.display = 'none';
      }
  }

</script>
{% endblock %}
