<footer class="footer">
    <div class="row">        
        <div class="col p-3">
            <div>
                <a href="https://shrinking-world.com/course/cs350/4" class="footer-button">Workspace</a>
                <a href="https://github.com/JLeFevre559/CS350-Clipboard" class="footer-button">Github</a>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="vWwSzcgD"></script>
                <div class="fb-share-button" data-href="{{ url }}" data-layout="button" data-size="large">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&amp;src=sdkpreparse"
                        class="fb-xfbml-parse-ignore">
                        Facebook Share
                    </a>
                </div>
            </div>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
    </div>
</footer>