{% extends 'theme.html' %}


{% block title %}
Calendar
{% endblock title %}


{% block content %}
<div>
    <h1>{{ year }} - {{ month }}</h1>
    <table>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        <tr>
            {% for day, weekday in calendar.days %}

                {% if day %}
                    <td>
                        {{ day.day }}
                        <ul>
                            {% for event in events %}
                                {% if event.date.day == day.day %}
                                    <li>{{ event.title }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if forloop.counter|divisibleby:7 %}
                    </tr><tr>
                {% endif %}

            {% endfor %}
        </tr>
    </table>
</div>

{% endblock content %}