{% extends 'theme.html' %}


{% block title %}
Calendar
{% endblock title %}


{% block content %}
<style>
.monthBoxDiv{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.dayOfTheWeek{
    min-width: 100px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.numberedDayOfTheWeek{
    border: 2px solid rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 51px;
    padding-right: 49px;
}

li{
    list-style-type: none;
    font-size: 50px;
}

</style>

<div>
    <div class="monthBoxDiv">
        <li class="prev">&#10094;</li>
        <div class="monthYearBoxDiv"><h2 id="currentMonth"></h2><h4 id="currentYear"></h4></div>
        <li class="next">&#10095;</li>

    </div>
    <table>
        <thead>
            <tr>
                <th class="dayOfTheWeek">Sunday</th>
                <th class="dayOfTheWeek">Monday</th>
                <th class="dayOfTheWeek">Tueday</th>
                <th class="dayOfTheWeek">Wednesday</th>
                <th class="dayOfTheWeek">Thursday</th>
                <th class="dayOfTheWeek">Friday</th>
                <th class="dayOfTheWeek">Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="numberedDayOfTheWeek">1</th>
                <th class="numberedDayOfTheWeek">2</th>
                <th class="numberedDayOfTheWeek">3</th>
                <th class="numberedDayOfTheWeek">4</th>
                <th class="numberedDayOfTheWeek">5</th>
                <th class="numberedDayOfTheWeek">6</th>
                <th class="numberedDayOfTheWeek">7</th>
            </tr>
            <tr>
                <th class="numberedDayOfTheWeek">8</th>
                <th class="numberedDayOfTheWeek">9</th>
                <th class="numberedDayOfTheWeek">10</th>
                <th class="numberedDayOfTheWeek">10</th>
                <th class="numberedDayOfTheWeek">11</th>
                <th class="numberedDayOfTheWeek">12</th>
                <th class="numberedDayOfTheWeek">13</th>
            </tr>
            <tr>
                <th class="numberedDayOfTheWeek">14</th>
                <th class="numberedDayOfTheWeek">15</th>
                <th class="numberedDayOfTheWeek">16</th>
                <th class="numberedDayOfTheWeek">17</th>
                <th class="numberedDayOfTheWeek">18</th>
                <th class="numberedDayOfTheWeek">19</th>
                <th class="numberedDayOfTheWeek">20</th>
            </tr>
            <tr>
                <th class="numberedDayOfTheWeek">21</th>
                <th class="numberedDayOfTheWeek">22</th>
                <th class="numberedDayOfTheWeek">23</th>
                <th class="numberedDayOfTheWeek">24</th>
                <th class="numberedDayOfTheWeek">25</th>
                <th class="numberedDayOfTheWeek">26</th>
                <th class="numberedDayOfTheWeek">27</th>
            </tr>
            <tr>
                <th class="numberedDayOfTheWeek">28</th>
                <th class="numberedDayOfTheWeek">29</th>
                <th class="numberedDayOfTheWeek">30</th>
                <th class="numberedDayOfTheWeek">31</th>
                <th class="numberedDayOfTheWeek">1</th>
                <th class="numberedDayOfTheWeek">2</th>
                <th class="numberedDayOfTheWeek">3</th>
            </tr>
        </tbody>
    </table>


    <button id="getDaysButton">Get First and Last Day</button>

    <p id="result"></p>

    <script>
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var today = new Date();
        var currentMonth = months[today.getMonth()];
        var currentYear = today.getFullYear();

        // Set the content of the HTML element with id "currentYear" using the variable
        document.getElementById("currentYear").innerHTML = currentYear;

        // Set the content of the HTML element with id "currentMonth" using the variable
        document.getElementById("currentMonth").innerHTML = currentMonth;

        document.getElementById("getDaysButton").addEventListener("click", function() {
            var today = new Date();
            var firstDay = new Date(today.getFullYear(), today.getMonth(), 1);
            var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
            // Get the current day of the week (0 = Sunday, 1 = Monday, ..., 6 = Saturday)
            // Format the dates for display
            var todayFormatted = today.getDate();
            var firstDayFormatted = firstDay.getDate();
            var lastDayFormatted = lastDay.getDate();


            var options = { weekday: 'long' };
            var firstDayFormatted2 = firstDay.toLocaleDateString('en-US', options);
            var lastDayFormatted2 = lastDay.toLocaleDateString('en-US', options);

            // Display the results
            document.getElementById("result").innerHTML = "First day of the month: " +firstDayFormatted2+" "+ firstDayFormatted + "<br>Last day of the month: "+lastDayFormatted2+" " + lastDayFormatted + "<br>Today "+todayFormatted;
        });
    </script>
</div>

{% endblock content %}