{% extends 'theme.html' %}


{% block title %}
Your Profile Page
{% endblock title %}


{% block content %}

<div class="profile-container">
    <h2 class="ProfileIcon" id="profile-picture">
        {{ user.first_name.0|default:" "|upper }}{{ user.last_name.0|default:" "|upper }}
    </h2>

</div>

<div>
    <ul class="profileList">
        <li>
            <b>Username:</b> {{ user.username }}
        </li>
        <li>
            <b>Name:</b> {{ user.first_name }} {{ user.last_name }}
        </li>
        <li>
            <b>Email:</b> {{ user.email }}
        </li>
        <li>
            <b>Bio:</b>
            <p class="userBio">{{ user.bio }}
            <p>
        </li>
    </ul>
    <div class="profile-div">
        <button class="editButton">Edit Profile</button>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logoutButton">Logout</button>
        </form>
    </div>
</div>

<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Add your form and fields here -->
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>

<script>
    // When the "Edit Profile" button is clicked, show the modal
    document.getElementById('editProfileButton').addEventListener('click', function () {
        $('#editProfileModal').modal('show');
    });
</script>

<script>
    var img = document.getElementById('profileImage');
    img.onload = function () {
        // Image loaded successfully
    };

    img.onerror = function () {
        var xhr = new XMLHttpRequest();
        xhr.open('HEAD', '../../static/images/noProfilePicturePic.png', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    // The default image exists
                    img.src = '../../static/images/noProfilePicturePic.png';
                    img.alt = 'Profile Picture';
                } else {
                    // The default image is also missing
                    // Handle this case as needed
                }
            }
        };
        xhr.send();
    };
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var profilePicture = document.getElementById('profile-picture');
        if (profilePicture) {
            profilePicture.style.backgroundColor = "{{ user.profile_color }}";
        }
    });
</script>
{% endblock content %}