{% extends 'theme.html' %}


{% block title %}
Clipboard
{% endblock title %}


{% block content %}
<h2>Your Profile</h2>
<h1>
    <strong>{{ user.username }}</strong>
</h1>
<div><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</div>
<div><strong>Email:</strong> {{ user.email }}</div>
<div>
    <strong>Profile Picture:</strong> <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture"
        width="150" height="150">
</div>
<div><strong>Bio:</strong>{{ user.bio }}</div>

<div>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>

{% endblock content %}