.JCSP {
  justify-content: space-between;
}

.navbar-button {
  font-weight: bold;
  border-radius: 25px;
  background-color: #3045fe;
  color: rgb(254, 254, 254);
  padding: 25px 25px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
  height: 0;
  line-height: 0;
}

.navbar-button:hover {
  background-color: rgb(0, 0, 146);
}

div {
  display: flex;
  justify-content: space-between;
}

.Outlined-box {
  border: 2px solid rgb(204, 204, 204);
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.centered-text {
  text-align: center;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 80%;
}
.task-list {
  border: 2px solid #000000;
  padding: 10px;
  width: 350px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task {
  border: 1px solid #a3a3a3;
  padding: 10px;
}

.task p {
  margin: 0;
}

.status-not-started {
  color: red;
  display: inline-block;
  min-width: 90px;
}

.status-In-progress {
  color: rgb(202, 171, 0);
  display: inline-block;
  min-width: 90px;
}

.status-Done {
  color: green;
  display: inline-block;
  min-width: 90px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  background-color: white;
  padding: 20px;
  width: 800px;
  margin: 10% auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  padding-left: 0%;
}

ul li {
  outline: 1px solid #000; /* Set the outline style */
  padding: 8px; /* Add padding for spacing */
  margin: 4px 0; /* Add margin for separation */
}

input {
  min-width: 100%;
}

.popup-trigger:hover{
  color: #2003ff;
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: end;
  border-top: 2px solid rgb(204, 204, 204);
  padding: 10px;
  margin: 200px;
  margin-top: 100px;
}

.footer-button {
  border-radius: 15px;
  background-color: #3045fe;
  color: rgb(254, 254, 254);
  padding: 15px 15px;
  text-align: center;
  margin: 10px;
  margin-left: 0px;
  margin-top:0px;
  text-decoration: none;
  display: inline-block;
  max-height: 10px;
  height: 0;
  line-height: 0;
}

.footer-button:hover {
  background-color: rgb(0, 0, 146);
}

.SignUpBox {
  height: 80%;
}

.loginButton{
  font-weight: bold;
  background-color: #3045fe;
  color: rgb(254, 254, 254);
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
  width: 100%;
  line-height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginButton:hover{
  background-color: rgb(0, 0, 146);
}


.project_list_view{
  display:flex;
  flex-direction:column;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.delete-button{
  background: rgba(255,0,0,1);
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(210,0,0,1) 50%, rgba(170,0,0,1) 100%);
  border-radius: 15px;
  width: fit-content;
  padding: 15px 15px;
  text-align: center;
  color: rgb(254, 254, 254);
  align-self: center;
  max-height: 10px;
  height: 10px;
  line-height: 0;
}

.delete-button:hover{
  background: rgba(170,0,0,1);
}

.project-button{
  background: rgb(48,69,254,1);
  background: linear-gradient(360deg, rgba(48,69,175,1) 0%, rgba(48,69,215,1) 50%, rgba(48,69,254,1) 100%);
  border-radius: 15px;
  width: fit-content;
  padding: 15px 15px;
  text-align: center;
  color: rgb(254, 254, 254);
  align-self: center;
  max-height: 10px;
  height: 10px;
  line-height: 0;
}

.project-button:hover{
  background: rgba(48,69,175,1);
}

.project-buttons{
  display:flex;
}

.SignUpPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  outline-style: solid;

}

.temp{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
}

.homeTextBox{
  font-size: larger;
  max-width: 60%;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}