.navbar-box {
  border: 2px solid rgb(204, 204, 204);
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 40px;
  box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.5);
  
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding-left: auto;
  padding-right: auto;
}

.navbar-div{
  width: 300px;
}

.navbar-photo{
  width:254px;
  height:70px;
}

.navbar-button {
  font-weight: bold;
  border-radius: 25px;
  background-color: rgb(30, 30, 255);
  color: rgb(254, 254, 254);
  padding: 25px 25px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
  height: 0;
  line-height: 0;
}

.navbar-button:hover {
  background-color: rgb(30, 30, 200);
  color: rgb(254, 254, 254);
}

.navbar-link{
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  min-width: fit-content;
}

.navbar-image{
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Arial, sans-serif;
}

.projectdiv{
  display: flex;
  justify-content: space-between;
}

.task-list {
  border: 2px solid #000000;
  padding: 10px;
  margin:20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task {
  border: 1px solid #a3a3a3;
  padding: 10px;
}

.task p {
  margin: 0;
}

.status-not-started {
  color: red;
  display: inline-block;
  min-width: 90px;
}

/* this affects the not started status */
.Started{
  color: red;
  display: inline-block;
  min-width: 90px;
}

.Progress{
  color: rgb(202, 171, 0);
  display: inline-block;
  min-width: 90px;
}

.Done{
  color: green;
  display: inline-block;
  min-width: 90px;
}

.status-In-progress {
  color: rgb(202, 171, 0);
  display: inline-block;
  min-width: 90px;
}

.status-Done {
  color: green;
  display: inline-block;
  min-width: 90px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  background-color: white;
  padding: 20px;
  width: 800px;
  margin: 10% auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  padding-left: 0%;
}

ul li {
  outline: 1px solid #000; /* Set the outline style */
  padding: 8px; /* Add padding for spacing */
  margin: 4px 0; /* Add margin for separation */
}

input {
  min-width: 100%;
}

.popup-trigger:hover{
  color: #2003ff;
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: end;
  border-top: 2px solid rgb(204, 204, 204);
  padding: 10px;
  margin: 200px;
  margin-top: 100px;
}

.footer-button {
  border-radius: 15px;
  background-color: rgb(30, 30, 255);
  color: rgb(254, 254, 254);
  padding: 15px 15px;
  text-align: center;
  margin: 10px;
  margin-left: 0px;
  margin-top:0px;
  text-decoration: none;
  display: inline-block;
  max-height: 10px;
  height: 0;
  line-height: 0;
}

.footer-button:hover {
  background-color: rgb(30, 30, 200);
  color: rgb(254, 254, 254);
}


.loginButton{
  font-weight: bold;
  background-color: #3045fe;
  color: rgb(254, 254, 254);
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
  width: 100%;
  line-height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginButton:hover{
  background-color: rgb(0, 0, 146);
}


.project_list_view{
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 0, 0);
  display:flex;
  flex-direction:column;
  align-self: center;
  text-align:center;
}

.delete-button{
  margin: 5px;
  background: rgba(255,0,0,1);
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(210,0,0,1) 50%, rgba(170,0,0,1) 100%);
  border-radius: 15px;
  width: fit-content;
  padding: 15px 15px;
  text-align: center;
  color: rgb(254, 254, 254);
  align-self: center;
  max-height: 10px;
  height: 10px;
  line-height: 0;
}

.big-delete-button{
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background: rgba(255,0,0,1);
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(210,0,0,1) 50%, rgba(170,0,0,1) 100%);
  border-radius: 50px;
  width: fit-content;
  text-align: center;
  color: rgb(254, 254, 254);
  align-self: center;
  height: 10px;
  line-height: 0;
  font-size: 32px;
}


.delete-button:hover{
  background: rgba(170,0,0,1);
}

.project-button{
  margin: 5px;
  background: rgb(48,69,254,1);
  background: linear-gradient(360deg, rgba(48,69,175,1) 0%, rgba(48,69,215,1) 50%, rgba(48,69,254,1) 100%);
  border-radius: 15px;
  width: fit-content;
  padding: 15px 15px;
  text-align: center;
  color: rgb(254, 254, 254);
  align-self: center;
  max-height: 10px;
  height: 10px;
  line-height: 0;
}

.project-button:hover{
  background: rgba(48,69,175,1);
}

.project-buttons{
  display:flex;
}

.SignUpPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  outline-style: solid;
}

.profilePhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline-style: solid;
}

.ProfileIcon{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline-style: solid;
}

.profile-div{
  display: flex;
  justify-content: space-between;
}

.logoutButton {
  font-weight: bold;
  border-radius: 25px;
  background-color: rgb(180, 0, 0);
  color: rgb(254, 254, 254);
  padding: 20px 20px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
  height: 0;
  line-height: 0;
}

.logoutButton:hover {
  background-color: rgb(100, 0, 0);
}

.editButton{
  font-weight: bold;
  border-radius: 25px;
  background-color: rgb(0, 180, 0);
  color: rgb(254, 254, 254);
  padding: 20px 20px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  max-height: 20px;
  height: 0;
  line-height: 0;
}

.editButton:hover {
  background-color: rgb(0, 100, 0);
}


.temp{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
}

.mainBox{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  min-width: fit-content;
}

.mainBox p{
  max-width: 1000px;
}

.mainBox .userBio{
  max-width: 293px;
}

.landingBox{
  display: flex;
  font-size: 28px;
}

.landingphoto{
  margin-left: auto;
  margin-right: auto;
}

.projectHomeBox{
  font-size: larger;
  max-width: 60%;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.task-list-info{
  display: inline;
}