<!DOCTYPE html>
<html lang="en">
{% extends 'theme.html' %}


{% block title %}
Clipboard
{% endblock title %}
    
    
{% block content %}
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            <br>
            {{ form.password.label_tag }} {{ form.password }}
            <br>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
</body>
</html>
{% endblock content %}