<!DOCTYPE html>
<html lang="en">
{% extends 'theme.html' %}


{% block title %}
Sign Up
{% endblock title %}
    
    
{% block content %}
<body>
    <div class="SignUpBox">
        <ul>
            <form method="post">
                {% csrf_token %}
                <b>{{ form.username.label_tag }}</b> {{ form.username }}
                <br>
                <b>{{ form.email.label_tag }}</b> {{ form.email }}
                <br>
                <b>{{ form.first_name.label_tag }}</b> {{ form.first_name }}
                <br>
                <b>{{ form.last_name.label_tag }}</b> {{ form.last_name }}
                <br>
                <b>{{ form.birthdate.label_tag }}</b> {{ form.birthdate }}
                <br><br>
                <b>{{ form.password1.label_tag }}</b> {{ form.password1 }}
                <br>
                <b>{{ form.password2.label_tag }}</b> {{ form.password2 }}
                <br>
                <button type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </ul>
    </div>
</body>
{% endblock content %}
</html>
